<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RadQA</title>
</head>
<body>

  <div class="patient-info container-fluid"">

    <div class="text-center"><h1>Medical Question Answering</h1></div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Patient Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Visit Speciality</th>
          <th scope="col">Visit Description</th>
          <th scope="col">Visit Purpose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><%= @patient.fetch(:id)%></td>
          <td scope="col"><%= @patient.fetch(:first_name)%></td>
          <td scope="col"><%= @patient.fetch(:last_name)%></td> 
          <td scope="col"><%= @patient.fetch(:medical_specialty)%></td>                         
          <td scope="col"><%= @patient.fetch(:description)%></td>    
          <td scope="col"><%= @patient.fetch(:sample_name)%></td>             
        </tr>
      </tbody>
    </table>

    <div> <h5>Visit Notes:</h5> <p class="lead"><%= @patient.fetch(:transcription)%></p> </div>

    <div> 
      <h5>Associated Keywords:</h5> 
      <ul class="list-unstyled list-inline">
      <% @keyword_array.each do |keyword|%>
       <li class="list-inline-item"><%=keyword.capitalize%></li>
      <%end%>
      </ul>
    </div>
  </div>

    <div class="container-fluid">Question: <%= @display_question%></div>
    <div class="container-fluid">Answer: <%=@message_response%> </div> <br>

  <div class="qa-section container-fluid">
    <form action="/answer">
      <div><label for="question">Question about patient</label></div>
      <textarea name="question" id="question" class="form-control">
      </textarea> 
      <br>
      <button class="btn btn-secondary float-end">Ask</button>
    </form>
  </div>

</body>
</html>
